
body {
    font-family: Lato, sans-serif !important;
    color: #333333;
    text-align: left;
    background-color: #ffffff;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
  }
  
  .back-colour{background-color: #ece6e6;
               padding: 5px;

  }
  
  .header {text-align: center;
           padding: 10px;
           color: rgb(0, 0, 0);
  }
  
  .title {text-align: center;
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          color: #000000;
  }
  
  .back-image {display: block;
                width: 1450px;
                height: 350px;
                margin-left: auto;
                margin-right: auto;
  }

  .side-image {display: block;
               width: 550px;
               height: 550px;
               margin-left: auto;
               margin-right: auto;
  }

  .column {
    float: left;
    width: 30%;
    padding: 20px;
    text-align: center;
  }
  
  .two-column {
    float: left;
    width: 45%;
    padding: 10px;
    text-align: center;
  }
  

  .column-text-left {
    float: left;
    width: 30%;
    padding: 20px;
    text-align: justify;
  }  
  
  
  .column-image {
    width: 450px;
    height: 300px;
  }
  
  .column-image-large {
    width: 400px;
    height: 500px;
    border-radius: 25px;

  }

  .row:after {
    content: "";
    display: table;
    clear: both;
    text-align: center;
  }
  
  .column-footer {
    float: left;
    width: 30%;
    padding: 10px;
    text-align: left;
    
  }



  .heading {text-align: center;
            background-color: #ece6e6;
            padding: 10px;

    }



  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
  }
  
  .card-big {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
  }

  .icon {font-size: 65px;
         text-align: justify
         
  }

  .footer {text-align: left;
    padding: 10px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color:#ece6e6;
  }
  
  .footer-links {
    list-style-type:none;
    padding:0px;
    display:table;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
  }

  .footer-links li { display: inline-table;}
  
  .footer-links li a { color:rgb(0, 0, 0); 
                       margin: 15px;

  }
  
  .navbar {
    width: 100%;
    background-color: #ffffff;
    overflow: auto;
  }
  
  .navbar a {
    float: left;
    padding: 15px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 20px;
    
  }
  
  .navbar a.split {
    float: right;
    background-color: #ffffff;
    color: rgb(6, 6, 6);
  }
  
  .navbar a:hover {
    background-color: #ece6e6;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    float: left;
    font-size: 20px; 
    padding: 15px; 
    text-decoration: none;
    border: none;
    background-color: white;
    color: rgb(0, 0, 0);
  }
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    font-size: 15px;
    text-decoration: none;
    display: block;
    text-align: left;
    
  }
  
  .dropdown-content a:hover {
    background-color: #ece6e6;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #757171;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #b8b6b6;
  }
  
  .form-container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }



  
  @media screen and (max-width: 700px) {
    .navbar a {
      float: none;
      display: block;
    }
  }

  .priceLineThrough{
    color: #717171;
    font-size: 20px;
    text-decoration: line-through;
    padding: 0;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }

  .price{
    color: #328f07;
    font-size: 30px;
    padding: 0;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  } 
  
  .column button{
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }

  .headingComputer 
  {text-align: center;
    background-color: #094715;
    padding: 5px;
    color: #ffffff;
    background-image: url(computerPhotos/snow.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

  .p-heading{
    text-align: center;
    margin-left: 20%;
    width: 60%;
    margin-right: 20%;
    font-size: 20px;
    color: #9b9898;
  }

  .xxl{
    font-size: 50px;
    font-style:italic;
    margin-bottom: 0;
    color: #000000;
  }

  .card-computer{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    height: 650px;
  }

  .checkoutCard{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: left;
    background-color: rgb(255, 255, 255);
    width: 40%;
    margin-left: 0;
    margin-right: auto;
    height: 200px;
  }
  .checkoutImg{
    width: 100px;
  }

  .phoneImg{
    width: 200px;
  }
  
  