
body {
    font-family: Lato, sans-serif !important;
    color: #333333;
    text-align: left;
    background-color: #ffffff;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
  }
  
  .back-colour{background-color: #ece6e6;
               padding: 5px;

  }
  
  .header {text-align: center;
           padding: 10px;
           color: rgb(0, 0, 0);
  }
  
  .title {text-align: center;
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          color: #000000;
  }
  
  .back-image {display: block;
                width: 1450px;
                height: 350px;
                margin-left: auto;
                margin-right: auto;
  }

  .side-image {display: block;
               width: 550px;
               height: 550px;
               margin-left: auto;
               margin-right: auto;
  }

  .column {
    float: left;
    width: 30%;
    padding: 20px;
    text-align: center;
  }
  
  .two-column {
    float: left;
    width: 45%;
    padding: 10px;
    text-align: center;
  }
  

  .column-text-left {
    float: left;
    width: 30%;
    padding: 20px;
    text-align: justify;
  }  
  
  
  .column-image {
    width: 450px;
    height: 300px;
  }
  
  .column-image-large {
    width: 400px;
    height: 500px;
    border-radius: 25px;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
    text-align: center;
  }
  
  .column-footer {
    float: left;
    width: 30%;
    padding: 10px;
    text-align: left;
    
  }



  .heading {text-align: center;
            background-color: #ece6e6;
            padding: 10px;

    }



  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
  }
  
  .card-big {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
  }

  .icon {font-size: 65px;
         text-align: justify
         
  }

  .footer {text-align: left;
    padding: 10px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color:#ece6e6;
  }
  
  .footer-links {
    list-style-type:none;
    padding:0px;
    display:table;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
  }

  .footer-links li { display: inline-table;}
  
  .footer-links li a { color:rgb(0, 0, 0); 
                       margin: 15px;

  }
  
  .navbar {
    width: 100%;
    background-color: #ffffff;
    overflow: auto;
  }
  
  .navbar a {
    float: left;
    padding: 15px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 20px;
    
  }
  
  .navbar a.split {
    float: right;
    background-color: #ffffff;
    color: rgb(6, 6, 6);
  }
  
  .navbar a:hover {
    background-color: #ece6e6;
  }
  
  
  @media screen and (max-width: 700px) {
    .navbar a {
      float: none;
      display: block;
    }
  }

  .priceLineThrough{
    color: #d32121;
    font-size: xx-large;
    text-decoration: line-through;
  }

  .price{
    color: #807e7e;
    font-size: xx-large;
  }
  
  .column button{
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }

  .headingComputer 
  {text-align: center;
    background-color: #094715;
    padding: 5px;
    color: #ffffff;
}

  .p-heading{
    text-align: center;
    margin-left: 20%;
    width: 60%;
    margin-right: 20%;
    font-size: 20px;
    color: #9b9898;
  }

  .xxl{
    font-size: 50px;
    font-style:italic;
    margin-bottom: 0;
    color: #000000;
  }

  
  