
body {
    font-family: Lato, sans-serif !important;
    color: #333333;
    text-align: left;
    background-color: #ffffff;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
  
  
  .header {text-align: center;
           padding: 10px;
           color: rgb(0, 0, 0);
  }
  
  
  .column {
    float: left;
    width: 30%;
    padding: 20px;
    text-align: center;
  }
  
  
  .column-image {
    width: 450px;
    height: 300px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
    text-align: center;
  }
  
  
  
  .footer {text-align: left;
    padding: 10px;
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
  
  
  .navbar {
    width: 100%;
    background-color: rgb(255, 254, 254);
    overflow: auto;
  }
  
  .navbar a {
    float: left;
    padding: 15px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 20px;
    
  }
  
  .navbar a.split {
    float: right;
    background-color: #ffffff;
    color: rgb(6, 6, 6);
  }
  
  .navbar a:hover {
    background-color: rgb(95, 231, 255);
  }
  
  
  @media screen and (max-width: 700px) {
    .navbar a {
      float: none;
      display: block;
    }
  }
  
  
  