@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

h1{
    font-family: 'Poppins', sans-serif;
    font-size: 80px;
    text-align: center;
    color: rgb(0, 0, 0);
    margin-bottom: 70px;
}

h1.iconLogo{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-align: center;
    color: rgb(0, 0, 0);
    margin-bottom: 0;
}

.headerColor{
    background-color: rgb(18, 21, 23);
}

.lowerHeaderColor{
    background-color: rgb(31, 33, 51);
}

.navbarLinkFont{
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.navbarLinkFont:hover {
    color: rgb(46, 157, 231);
}

.container{
    max-width: 1068px;
    margin: auto;
    width: 100%;
}

.container2{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    max-width: 540px;
    margin: auto;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.largeFont{
    font-size: 30px;
}

.productFont{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: rgb(0, 0, 0);
}

